/dist/
/build/
/nbproject/private/
build/generated-sources/jaxb/generated/
nbproject/private/private.properties

*.properties

*.properties

*.properties

nbproject/private/private.properties
*.properties

src/view/GameSceneController1.java
